.overlay{
    opacity:0.8;
    background-color:rgb(199, 23, 23);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.background {
  background: url("https://imgr.search.brave.com/-8uTDn4XmcoLGVl1v3TdROYQB0enuru_NWbJfrURV7A/fit/1200/1080/ce/1/aHR0cHM6Ly93d3cu/bTJhc29sdXRpb25z/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/MjAxOC8wNy9jb21w/dXRlci5qcGc") no-repeat 
    center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-image: url("https://imgr.search.brave.com/-8uTDn4XmcoLGVl1v3TdROYQB0enuru_NWbJfrURV7A/fit/1200/1080/ce/1/aHR0cHM6Ly93d3cu/bTJhc29sdXRpb25z/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/MjAxOC8wNy9jb21w/dXRlci5qcGc");
  background-size:100% 100%; */
}